.container-md-fluid{
   
    background-image: url(https://wallpaperaccess.com/full/2816328.jpg);
    
    padding-top: 100px;
    background-size: cover;
    
}

#projects{
    background-color:black;
}
#about {
    background-color: wheat;
}
.card-body h5 {
    position: relative;
    top: 20px;
}
.card-body p {
    position: relative;
    top: 20px;
}
